
  <h3>Polling Form</h3>

  <div class="container">
   
       
        <form class="form-inline" [formGroup]="batchInputForm" (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <label class="control-label col-sm-4">Batch Size</label>
            <div class="col-sm-8">
            <input type="text" formControlName="batchSize" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.batchSize.errors }" />
            <div *ngIf="submitted && f.batchSize.errors" class="invalid-feedback">
              <div *ngIf="f.batchSize.errors.required">Batch size is required</div>
              <div *ngIf="f.batchSize.errors?.invalidRange">Range should be between 1 and 10</div>
            </div>
          </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-4">Items per batch</label>
            <div class="col-sm-8">
            <input type="text" formControlName="itemsPerBatch" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemsPerBatch.errors }" />

            <div *ngIf="submitted && f.itemsPerBatch.errors" class="invalid-feedback">
              <div *ngIf="f.itemsPerBatch.errors.required">No of items per batch required</div>
              <div *ngIf="f.itemsPerBatch.errors?.invalidRange">Range should be between 1 and 10</div>

            </div>
          </div>
          </div>
            <div class="form-group">
              <button [disabled]="!batchInputForm.valid" class="btn btn-primary">Start</button>
            </div>
         
            <div class="container">
             
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Remaining</th>
                    <th>Processed</th>
                    <th>Total</th>

                  </tr>
                </thead>
                <tbody>
                  <!--<h1>Polling Value: {{value}}</h1>-->
                  {{poonam}}
                  <tr *ngFor="let item of batchList">
                    {{hello}}
                    <th>{{item.BatchId}}</th>
                    <th>{{item.TotalProcessedItem}}</th>
                    <th>{{item.TotalRemainingItem}}</th>
                    <th>{{item.Total}}</th>
                      
                    </tr>
                </tbody>
              </table>
            </div>
    
        </form>
      </div>
  
